.navbar {
    background-color:navy;
    justify-content: center;
    
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.navbar-brand:hover {
    color: white;
}

.form-row label{
    font-weight: bold;
}

.form-row{

    border-bottom: 1px gray;
    width: 90%;

}
.form-control {
   
    font-size: 1.2rem;
    border-color: lightblue;
    width: 90%;  
}
.btn-primary {
    border-color: lightblue;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 10px;
    width: 90%;

    
}


.card {
 max-width: 500px;
 margin-top: 50px;
 margin-left: 20px;
 border: none;
}

#weather-card-container {
    /* text-align: center; */
    display: flex;

}

div.card-body{
    display:inline-flexbox;
    offset: distance 40px;;
    background-color: darkslategray;
    color: white;
    

}


div .todayForecast{
    border-radius: 5px;
    height: 300px;
    padding: 25px;
    position: absolute;
    top: -75px;
    right: -397px;
    width: auto;

}
  .border-me {
    /* default style without border */
    /* border: none; */
  }
  
  .border-me.with-border {
    /* border style when border is added */
    border: 1px solid black;
  }

@media (min-width: 992px) {
    .fiveday {
        margin-right: 1em; 
        padding: .5em;
    }

} 


ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  
  li {
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: lightgray;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    border-radius: 10px;
    width: 80%;
  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
  }

